*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
}
.p1{
  width: 100%;
  height: 100vh;
}
/* .design-container{
    border: none;
    height:60px;
    width:100%;
    background-image: url("../111c251b81ff1bc2fa5939bb52ff76df.jpg");
    background-position: 224% 26%;
} */

.Menu-Container{
    /* border: 1px solid; */
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    height: 58px;
    padding: 0px 50px;
    border-bottom: 2px inset;
    background-color: #090A0F;
}
.name{
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 50px;
    font-family: 'Inconsolata', monospace;
    background: -webkit-linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255), #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.custom-btn {
    background-color: #f0ecfc;
    background-image: linear-gradient(321deg
, #f0ebff 0%, #bd86e7 74%);
    line-height: 42px;
    padding: 0;
    border: none;

    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
 
  /* ***********topics********************* */
  .topics {
    background-color: #f0ecfc;
  background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%);
    line-height: 42px;
    padding: 0;
    border: none;
  }
  .Aboutmespan {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .topics:before,
  .topics:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: #c797eb;
    /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
    transition: all 0.3s ease;
  }
  .topics:before{
     height: 0%;
     width: 2px;
  }
  .topics:after {
    width: 0%;
    height: 2px;
  }
  .topics:hover:before {
    height: 100%;
  }
  .topics:hover:after {
    width: 100%;
  }
  .topics:hover{
    background: transparent;
  }
  .topics span:hover{
    color: #c797eb;
  }
  .topics span:before,
  .topics span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: #c797eb;
    /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
    transition: all 0.3s ease;
  }
  .topics span:before {
    width: 2px;
    height: 0%;
  }
  .topics span:after {
    height: 2px;
    width: 0%;
  }
  .topics span:hover:before {
    height: 100%;
  }
  .topics span:hover:after {
    width: 100%;
  }
  .dropdown{
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fcfcfc;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #74b6d4;}
  
  /* **************AboutWebsite******************** */
  .AboutWebsite {
    background-color: #f0ecfc;
  background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%);
    line-height: 42px;
    padding: 0;
    border: none;
  }
  .AboutWebsite span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .AboutWebsite:before,
  .AboutWebsite:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: #c797eb;
    /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
    transition: all 0.3s ease;
  }
  .AboutWebsite:before{
     height: 0%;
     width: 2px;
  }
  .AboutWebsite:after {
    width: 0%;
    height: 2px;
  }
  .AboutWebsite:hover:before {
    height: 100%;
  }
  .AboutWebsite:hover:after {
    width: 100%;
  }
  .AboutWebsite:hover{
    background: transparent;
  }
  .AboutWebsite span:hover{
    color: #c797eb;
  }
  .AboutWebsite span:before,
  .AboutWebsite span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: #c797eb;
    /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
    transition: all 0.3s ease;
  }
  .AboutWebsite span:before {
    width: 2px;
    height: 0%;
  }
  .AboutWebsite span:after {
    height: 2px;
    width: 0%;
  }
  .AboutWebsite span:hover:before {
    height: 100%;
  }
  .AboutWebsite span:hover:after {
    width: 100%;
  }
.items-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 20%;
}
.pickYourInterest{
    font-size: 61px;
    width: fit-content;
    margin: auto;    
    font-family: inherit;
    overflow: hidden;
   

}

.bk-anime{
  left:0px;
  position: absolute;
  z-index: -5;
  top:0px;
  background-image : radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%) !important;
}

/***************************/

.neonText {
  width: 100%;
  word-break: break-all;
  word-wrap: break-word;
  padding-top: 1.4em;
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #bc13fe,
    0 0 82px #bc13fe,
    0 0 92px #bc13fe,
    0 0 102px #bc13fe,
    0 0 151px #bc13fe;
}
  
.neonText {
 
  font-family: "Sacramento", sans-serif;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: center; 
  font-size: 12.2rem;
  animation: pulsate 1.5s infinite alternate;  
  /* border: 0.2rem solid #fff; */
  /* border-radius: 2rem; */
  /* padding: 0.4em; */
  /* box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #bc13fe,
            0 0 0.8rem #bc13fe,
            0 0 2.8rem #bc13fe,
            inset 0 0 1.3rem #bc13fe;  */
}

@keyframes pulsate {
    
  100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #bc13fe,
      0 0 80px #bc13fe,
      0 0 90px #bc13fe,
      0 0 100px #bc13fe,
      0 0 150px #bc13fe;
  
  }
  
  0% {

    text-shadow:
    0 0 2px #fff,
    0 0 4px #fff,
    0 0 6px #fff,
    0 0 10px #bc13fe,
    0 0 45px #bc13fe,
    0 0 55px #bc13fe,
    0 0 70px #bc13fe,
    0 0 80px #bc13fe;

}
}

.main{
  display: flex;
  padding-left: 4rem;
  width:100%;
  height:100vh;
  justify-content: space-between;
}
.content{
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  width:40%;
  height: fit-content;
  padding-top: 9rem;
}
h1{
  font-size: 5.2rem;
    font-family: 'Amatic SC', cursive;
    background: -webkit-linear-gradient(rgb(255, 255, 255),rgb(119 193 245), #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h3{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-family: 'Quicksand', sans-serif;
  color: rgb(187, 216, 241);
}
.image{
  position: relative;
  height: 100%;
  width: 40%;
}
.tictac{   
  cursor: pointer;
   width: 74%;
  position: absolute;
  top: 10vh;
  right: 26vw;

}
.pong{
  position: absolute;
  cursor: pointer;
    background-image: url(../ping-pong.jpg);
    width: 23.6rem;
    height: 20rem;
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 6vh;
    right: 1vw;
}

